.about-us {
  padding: 120px 0;
  background-color: var(--background-light);
}

.about-us__inner {
  display: flex;
}

.about-us__content {
  margin-top: 70px;
  width: 470px;
}

.about-us__title {
  margin: 0 0 var(--gap);
}

.about-us__subtitle {
  margin: 0 0 var(--gap);
  font-family: var(--font-family-subtitle);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.about-us__text {
  margin: 0;
}

.about-us__image-wrap {
  margin-left: auto;
  min-width: 544px;
  position: relative;
}

.about-us__image {
  display: block;
  position: relative;
  width: 371px;
}

.about-us__image--top {
  margin-bottom: 155px;
}

.about-us__image--bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
