.footer {
  background-color: var(--background-dark);
}

.footer__inner {
  padding: 94px 0 69px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__copyright {
  font-size: 14px;
  line-height: 19px;
}

.footer__social {
  display: flex;
}
