@import url("../../node_modules/reset.css/reset.css");

@import url("./constants.css");

html,
body {
  background-color: var(--main-bg);
  color: var(--main-font-color);
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

/* blocks */
@import url("./header/header.css");
