.header {
  height: calc(100vh - 58px);
  width: 100%;
  padding-top: 29px;
  padding-bottom: 29px;
  background-image: url("../../image/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__inner {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
}

.header__nav-link {
  font-family: Montserrat, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
}

.header__nav-link:hover {
  opacity: 0.7;
}

.header__nav-list li {
  margin-right: 20px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__intro {
  width: 709px;
  margin-top: 211px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.header__intro-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 107px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  margin-bottom: 10px;
  color: #1d1d1d;
}

.header__intro-text {
  margin-bottom: 46px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #1d1d1d;
}

.header__intro-link {
  font-family: Montserrat, Tahoma, sans-serif;
  display: flex;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  width: 190px;
  height: 52px;
  border-radius: 100px;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}

.header__anchor {
  width: 29px;
  height: 46px;
  display: block;
  background-image: url("../../image/scroll.svg");
  background-repeat: no-repeat;
}
