.partners__inner {
  padding: 123px 124px 118px 124px;
}

.partners__list {
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
